{% extends "accounts/base.html" %}

{% block content %}

<h1>Login</h1>

{% for error in form.non_field_errors %}
  <div class='alert alert-danger'>{{ error }}</div>
{% endfor %}

<form id='loginForm' method="post" action="{% url 'accounts:login' %}">

  {% csrf_token %}

  <p>
    {% for error in form.username.errors %}
      <div class='alert alert-danger'>{{ error }}</div>
    {% endfor %}
    <label for='id_username'>Username:</label>
    {{ form.username }}
  </p>

  <p>
    {% for error in form.password.errors %}
      <div class='alert alert-danger'>{{ error }}</div>
    {% endfor %}
    <label for='id_password'>Password:</label>
    {{ form.password }}
  </p>

  <input type="hidden" name="next" value="{{next}}">

  <p>
    <label/><input type="submit" value="Login">
  </p>

</form>

{% endblock content %}
