{% extends 'browse/base.html' %}

{% block title %}{{ block.super }} | Browse{% endblock title %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>{{ category.name }}</h1>
    {% if category.plain_text_description != "" %}
      <p>{{ category.plain_text_description }}</p>
    {% endif %}
    <p>
      Narrow restaurants by <input class="text-center" type='number' placeholder='ZIP'>
      <input type='submit'>
    </p>
  </div>

  {% include 'browse/restaurant_loop.html' %}

{% endblock content %}
