{% if restaurants.count > 0 %}
  <div class="row">
    {% for r in restaurants %}
      <div class="col-sm-6 col-lg-4 text-center">
        <h3>
          <a href="{% url 'browse:restaurant' r.slug %}">{{ r.name }}</a>
        </h3>
        <p>{{ r.locations.count }} locations:</p>
        <div class="row">
          {% for l in r.locations.all|slice:":3" %}
            <div class="col-xs-6 col-lg-4">
              <a href="{% url 'browse:restaurant' r.slug %}?location_id={{ l.id }}">{{ l.name }}</a>
            </div>
          {% endfor %}
        </div>
        <p>{{ r.plain_text_description }}</p>
      </div>
      <hr class="visible-xs">
    {% endfor %}
  </div>
{% else %}
  <div class='alert alert-warning'>No restaurants found.</div>
{% endif %}
