{% extends 'browse/base.html' %}

{% block title %}{{ block.super }} | {{ restaurant.name }}{% endblock title %}

{% block content %}

  <div class="jumbotron text-center">
    <h1>{{ restaurant.name }}</h1>
    {% if restaurant.markdown_description %}
      <div class='markdown-element'>{{ restaurant.markdown_description }}</div>
    {% elif restaurant.plain_text_description %}
      <div>{{ restaurant.plain_text_description }}</div>
    {% endif %}
  </div>

  {% if restaurant.specials.count > 0 %}
    <h1 class="text-center">Today's Specials</h1>
    <div class="row">
      <!-- TODO: filter specials by available today. get date from python and pass with view. -->
      {% for s in restaurant.specials.all|slice:":15" %}
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
          <h3>{{ s.name }}</h3>
          {% if s.plain_text_description != "" %}
            <div>{{ s.plain_text_description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning">No {{ restaurant.name }} specials listed.</div>
  {% endif %}

  <hr>

  {% if restaurant.locations.count > 0 %}
    <h1 class="text-center">Locations</h1>
    <div class="row">
      {% for l in restaurant.locations.all|slice:":15" %}
        <div class="col-sm-6 col-lg-4">
          <h3 class="text-center">{{ l.name }}</h3>
          {% if l.plain_text_description != "" %}
            <div class="col-xs-6">{{ l.plain_text_description }}</div>
          {% endif %}
          <div class="row">
            <div class="col-xs-6 text-center">
              <p>MAP</p>
            </div>
            <div class="col-xs-6">
              {% if l.phone != "" %}
                <p>{{ l.phone }}</p>
              {% endif %}
              <p>
                {{ l.address_line_1 }}<br/>
                {% if l.address_line_2 != "" %}
                  {{ l.address_line_2 }}<br/>
                {% endif %}
                {{ l.city }}, {{ l.state }} {{ l.zip_code }}
              </p>
            </div>
          </div>
        </div>
        <hr class="visible-xs">
      {% endfor %}
    {% else %}
      <div class='alert alert-warning'>No {{ restaurant.name }} locations listed.</div>
    {% endif %}
  </div>

  <hr>

  {% if restaurant.menus.count > 0 %}
    <h1 class="text-center">Menus</h1>
    <div class="row">
      {% for m in restaurant.menus.all|slice:":15" %}
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
          <h3>
            <a href="{% url 'browse:menu' restaurant.slug m.slug %}">{{ m.name }}</a>
          </h3>
          {% if m.plain_text_description != "" %}
            <div>{{ m.plain_text_description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning">No {{ restaurant.name }} menus listed.</div>
  {% endif %}

{% endblock content %}

{% block script %}
<script>
renderMarkdownElements();
</script>
{% endblock script %}
